@media only screen and (max-width:990px){
    .colcent {
    text-align:center;
    }
    .colcent img {
    margin:auto;
    }
    
}

@media only screen and (max-width:800px){
    
.herobg h1 {

float:right;
width:341px;
font-size:6.1em;
margin-top:140px;
text-align: center;
padding-bottom: 10%;
background-position:-100px center;
}
}

@media only screen and (max-width:500px){
.abouttext {
margin-right:0px;
font-size:0.8em;
text-align: center;
}
}s